html * {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

body {
    background-color: #242582;
    color: white;
    width: auto;
}
/* will remove later just removing the scroll bar on the website for now */
img {
    overflow: hidden;
}

.content {
    position: relative;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    max-height: 43.75em;
}


/* header */
header {
    position: fixed;
    display: flex;
    background-color: #553d67;
    width: 100%;    
    height: 2rem;
    justify-content: center;
    top: 0;
    z-index: 2;
}

.page-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: underline;
}

.page-links li {
    padding: 1rem;
}

.page-links a { 
    color: white;
}


/* about us */
#about-us {
    position: relative;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100%;
    flex-flow: row wrap;
    display: flex;
}

#about-us h1 {
    font-size: 4rem;   
    text-decoration: underline;
    display: block;
    width: 100%;
}

#about-us p {
    width: 75%;
    font-weight: 200;
    display: block;
}

/* events */
#events {
    justify-content: space-between;
}

#events img {
    display: inline-block;
    height: 15em;
    width: 15em;
    object-fit: cover;
    margin: 1rem;
}

.event {
    justify-content: center;
}

.event h3 {
    text-align: center;
    width: 75%;
    padding: 0;
    margin: 0 auto;
}

/* events tablet */
@media only screen and (max-width: 760px){
    #events {
        justify-content: center;
        margin: 0 auto;
        padding: 0;

    }
    #lessons {
        /* margin: 1rem auto; */
        justify-self: center;
        padding: 0;
    }
}

/* testimonial */
#testimonial {
    display: flex;
    position: relative;
    justify-content: center;
    height: 30em;
    align-items: center;
}

#testimonial figure {
    position: relative;
    margin: 0 50%;
    justify-content: center;
    width: auto;
    height: 100%;
}

#testimonial figure img {
    height: 75%;
    width: auto;
    object-fit: cover;
    display: block;
}

#testimonial figcaption {
    text-align: center;
    display: block;
    width: 100%;
    caption-side: bottom;
}
/* tablet for testimonial */
@media only screen and (max-width: 760px) {
    #testimonial {
        position: relative;
        margin-top: auto;
    }

}


/* sign-up */
#sign-up {
    position: relative;
    width: 100%;
    display: flex;    
    justify-content: center;
    margin: 1em auto;
    text-align: center;
}

#sign-up img {
    width: 50%;
    object-fit: cover;
    height: 30em;
    width: 30em;
    margin: 1rem;
}

#sign-up h3 {
    text-align: center;
    margin: 1rem auto;
    margin-bottom: 2rem;
}

/* footer */
footer {
    width: 100%;
    background-color: #553d67;
    height: 2rem;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

footer h3 {
    align-self: center;

}