html * {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

body {
    background-color: #242582;
    color: white;
    position: relative;
}

/* header */
header {
    position: fixed;
    display: flex;
    background-color: #553d67;
    width: 100%;    
    height: 2rem;
    justify-content: center;
    top: 0;
    z-index: 2;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: underline;
}

header li {
    padding: 1rem;
}
header a { 
    color: white;
}


/* about us */
#about-us {
    position: relative;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100%;
}

#about-us h1 {
    font-size: 4rem;   
    text-decoration: underline;
}

#about-us p {
    width: 75%;
    font-weight: 200;
}

/* events */
#events {
    position: relative;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

#events img {
    max-height: 20rem;
    max-width: 20rem;
    display: inline-block;
}