html {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: .9;
    width: 100%;
}


.section-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* working on the header portion */
header {
    position: fixed;
    /* min-width: 100%; */
    width: 100%;
    max-height: 69px;
    border-bottom: 1px solid seashell;
    align-items: center;
    z-index: 2;
    display: flex;
    background-color: black;
    opacity: .9;
    top: 0;
}

#header-links {
    float: right;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    
}
header a{
    text-decoration: underline;
    align-items: center;
    color: seashell;

}

#company-logo {
    display: inline-flex;
    float: left;
    margin: 10px;
    max-height: 50px;
}

/* working on the mission portion */
#mission {
    display: flex;
    padding-top: 69px;
    min-height: 700px;
    flex-grow: 1;
    background-image: url('img-mission-background.jpg');
    overflow: auto;
    background-size: auto;
    align-items: center;
    position: relative;
    margin-top: 69px;
}

#mission-text{
    background-color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* working on the teas sections */
